body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    text-align: center;
    color: dimgrey;
}
h1{
    text-align: center;
    color: red;
}
h2{
    text-align: center;
    color: green;
    font-size: 2em;
}
.enigma{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h4{
    margin-right: 0.5em;
}
.finished{
    height: 2.5em;
}
.not-finished{
    height: 2.5em;
}
footer{
    display: flex;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: dimgrey;
}